[Interface]
PrivateKey = {{ wireguard_private_key }}
ListenPort = 51871
Address = 10.222.0.101/32

[Peer]
PublicKey = DEJ2S/LG3BHJyXmaxNVzj0W7CjshOzrAxqoW+LAXuSo=
Endpoint = 192.0.2.20:51871
AllowedIPs = 10.222.0.0/24
PersistentKeepalive = 29