# /etc/wireguard/wg0.conf
[Interface]
Address = 10.222.0.1
ListenPort = 51871
PrivateKey = {{ wireguard_cloud_private_key }}

[Peer]
PublicKey = {{ wireguard_local_public_key }}
AllowedIPs = 10.222.0.101/32
PersistentKeepalive = 25