apiVersion: v1
data:
  tls.crt: "{{ argocd_public_key }}"
  tls.key: "{{ argocd_private_key }}"
kind: Secret
metadata:
  creationTimestamp: null
  name: argocd-repo-server-tls
  namespace: argocd
type: kubernetes.io/tls