{
    "kind": "SealedSecret",
    "apiVersion": "bitnami.com/v1alpha1",
    "metadata": {
      "name": "grafana-admin-user",
      "namespace": "monitoring",
      "creationTimestamp": null,
      "annotations": {
        "sealedsecrets.bitnami.com/cluster-wide": "true"
      }
    },
    "spec": {
      "template": {
        "metadata": {
          "name": "grafana-admin-user",
          "namespace": "monitoring",
          "creationTimestamp": null,
          "annotations": {
            "sealedsecrets.bitnami.com/cluster-wide": "true"
          },
          "labels": {
            "velero.io/exclude-from-backup": "true"
          }
        },
        "data": null
      },
      "encryptedData": {
        "admin-password": "AgB0QO2dsK+xmaw4D8DtuFQcEmKDRD9dlpu8QDEvK4NNlgOwsdm0Fw5eCsf6bRHfnQmJN9YFosc2VsQuEm6YVGm1EMvIlj6E0cuHJyNC1jloBjN2sN3cdA6ZDVTC56Ao0laNAqAl6Xx9oNr9DzKKvOln8prk4byFOo6hqvwPdP+SFk+k/+FGLJZqylWfCWg2dbA/CncBUtuHEjG8WjOfEoB/HbiHyqfj2eic0Wvkjl+5p1Q6Mv1XOoaoaetH/LQAdKqADdlD3rQV6/g7iX2GNiQHeh667slk9QQzkOwvhHWtSIPrqUFnqcXaYIA4DYcn6qXI3H+sZZVJLk5nPX7spTt3ClExcoRdu374W+uMoRVu0jy6If9JYQIkxQ55NYllDCcpiZ069wcKgr8iKHUcIEV27GAV5ZH3fTpa62gCxarjXBLfgbPRigYru19ZTYprI3gn82vc493gfy2KDX1+I7TD1WCQqcTSNMH0MPQDEDqUMpgTkjX0Nu0eRX5DOcing1yWDgbfHwVq9O5eOC5LkfPHmYZSxzdo2RzmK1UfnvDi/C/vtlk9HsgV9QrN1lFzaZvLJzfqL5IVrytm2x9CCYP2I4azz3KtWq5qMGZn1duo62C79iuAflGB6pRl/1+O6lyGQRL0zkvqN0iDe5FAi/hTJ04atD7PT32cMlGsDkfnL5DptuLF6xIMaaUGkvIbzGOFqOXhWabW/Zj0XA8qZh8OhZiCPk8qTY+juZX7b+A=",
        "admin-user": "AgDNAWTSnEa8IhAd+aP36J7/zxQtfyJifbh65Ppbk23Jlea7Rr00HTUArpAFxmyxyLEDMKBSk71HpSTQGjkSNFvSvhhl9ePHIs3cZpO0BzE5zSVE2epIO2FTF7ihq/acSNNuA7PPXMnQ2NVLe13krqrvES1JBIN7nkjOdHnsy4sQJn+mr4L1yhzyuDrWWV9d5fD9af6g7lrmSl7sUAspzmNpSi2fT189uCHGm04x5dMN4p9yewu6TFe//c0mY4b0hGCYYKmI2XETlRdQuR3jFww7tjuIxskj4w16RS1S95Y34vr2TMYsvRSalpYnd40zWNaBCdtkZAQhOoY53JJYkO+QvCDdL8T7L8QBbhPlR4pmXAGOdCHaFCrBnnFN4jr7408R5BeXLfDMSWNd9aw3KI/lL7p65n9/+aY6W0+wEItT1yymCTa1sNlM2UW5Ta8pfFlOU8GAthzrQMxM4b8TgiluK5woj26GrXscgEtMBMEmiYCPk8+k6kX1mc6BK7s6ixhlUZ2T2zuJH4HkJ5PbFM3rWqBFdsC706E+8S7LjaIQD7Cms2+s/8Sf8kCwLFB1KBw0IAIZHsHsETblomjR16j5SXGvRRpr1JeG6kEMwSVTd24H6Jm2NrGpKaKGKT8grZBfhdvekNblV1O7pZkKz5AShcLA0BibwCP7rKwihpQuDG7Eyzou6wZaaSw9uuut56DOjLX1aCQ="
      }
    }
  }