{
  "kind": "SealedSecret",
  "apiVersion": "bitnami.com/v1alpha1",
  "metadata": {
    "name": "digitalocean-token-secret",
    "namespace": "cert-manager",
    "annotations": {
      "sealedsecrets.bitnami.com/cluster-wide": "true"
    }
  },
  "spec": {
    "template": {
      "metadata": {
        "name": "digitalocean-token-secret",
        "namespace": "cert-manager",
        "annotations": {
          "sealedsecrets.bitnami.com/cluster-wide": "true"
        }
      }
    },
    "encryptedData": {
      "digitalocean-token": "AgAecF5SKlaF8dHjqVsdxzF0X53Y5ou7VDntBPfrvDLNbP0xpHygiOu7rLFeNyzOSWQC3XyWaqvlDZS83XYJuNnZ9kklHazmEF7EzI/S1IrVyUX2o8tt3/zWcp4ncHc2AQpTct/qz+Ji8NoZssbOvhthBFBhtB8fCg/Pc5j5tmlqxzVQRHrqO/TbYSkJHcnby8nBUeeWuleM36PGlN2TiKq77oO6NXZfoAsn7kPvtlaZkJbYaNXjyG87LGHP9d6HBQ5bZGpBEaKFapOYad8p+HzRnhQi1jmTpuPX/mZh+DwLaz3PSIl6t+WuXpnGqjzcwQsvNpqxJVhwrsrztGU1JeaThYSQAGox3BbDTJCZMtYJaybtmJHNWsv0rSLmaDz73xLFh0mKO0s8/7QDjVespoJcZ7DAA/oFqWzZAtECXypmavGwN2qbXLNWKg7bTiXpStwaWiXn4ozpXs/mzBL4bbljS6FZ/BmJQJlQEL7MIDjjI02fxfezhZNMGP8Yvm6LGbMeqc5U9/vJLzR5reFYrS0/+f418O3AQU3554ds9M0+xOVnFKo1VmIz//dU4NBII+0Zqjb8j/0FLo2gQe7V30k1H4HonM0mZcn3v+fPjRjaGGw9lwXLcQ0pjeJzxqgAvQdB3cRkGXC0QNM0Dgx2xHFMuy4wiRaFr1XwDmJwDxb4sZbe0yr9OjK0NIUNjhm05iaAmhPRA49brde0em59LVdYMiwrkKj/OELcHYZJ2PjHkGlN9IdaxCB68/RelwycoVgg1o31irtMQodjrsOBENnbLJ71ebi62g=="
    }
  }
}