{
  "kind": "SealedSecret",
  "apiVersion": "bitnami.com/v1alpha1",
  "metadata": {
    "name": "argocd-initial-admin-secret",
    "namespace": "argocd",
    "creationTimestamp": null,
    "annotations": {
      "sealedsecrets.bitnami.com/cluster-wide": "true"
    }
  },
  "spec": {
    "template": {
      "metadata": {
        "name": "argocd-initial-admin-secret",
        "namespace": "argocd",
        "creationTimestamp": null,
        "annotations": {
          "sealedsecrets.bitnami.com/cluster-wide": "true"
        }
      }
    },
    "encryptedData": {
      "password": "AgBNIbm+0qwZpY+TXmir23Py8z1fys8JOjG7V0aeC6a2XnfZIXV/G73FTUnZnmBD+GPeA5SE2ZVNKb4xP+aU9x52DJ7IBVKxTydwPLjkHKnNTs6OCtu/N4fzqYta8Gmy7gssjnWQcoUEtEV01RamGl2V62OfkHCW02qMwZKuVTKBoqhqE9UIqnUB6N/s/ou9VGr9qoqSP8TIHBdoP6bl1wllNvZBk+u6YED581lCRbRad1KDu/lZL2+RPG8AU0z9Imj4IX2AmrQjHXN5AWsNCqGmTcpcddcBRAbdzGDioHFuZnA7b3ZNLb+MRL/YziIX+RdAqImwSfVAUzGnDhUF1urqpYLNgKa/CCc2OBCcWseTeQcIAwPLl2SGcNeGkPxNn36twm3jyaUeIdFRYEfEY8z7DIIUYHSFHiy85dX1ByXINTVIgVjSRAzuXBXZsEJqNGjo7/uckE/0nETmnVbUZ0zw7GLb8OeiuWsZ/5dU3ZElPFLDY+yoC06CLTDgR9hfCkyoDcr12Ie2tbJl/Cn/tubowFZ2VPaSJY+T/LxxLJRqWa0SclSus8LLbhg7ez23pPpH6dEmngHfNhmb86S/dS0VkznzkpzzLOmEi7M2+g4h8pQbomo3G3tp629RZ4gQeEXpxu5XTGgbiRUGHE+nY0H4CEtWeUSBMhA85BIL3/qs48SPsVlguoUdR9wh1hQu31BXtF+IDfkVL7g7DKMaI3na"
    }
  }
}