apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - secret.yaml
  - https://github.com/bitnami-labs/sealed-secrets/releases/download/{{ sealed_secrets_version }}/controller.yaml

patches:
  - patch: |-
      kind: not-important
      metadata:
        name: not-important
      spec:
        template:
          spec:
            tolerations:
            - key: "host"
              operator: "Equal"
              value: "onpremise"
              effect: "NoSchedule"
    target:
      kind: (StatefulSet|Deployment|Job)